@model IEnumerable<GBC_Travel_Group_125.Models.Flights>

@{
    ViewData["Title"] = "Flights";
}



    <div class="container py-2">
        @Html.Partial("_SearchBar")
    </div>

<div class="container mt-3">
    <h2>@ViewData["Title"]</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
       
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FlightNumber)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Airline)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FlightFrom)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FlightTo)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DepartureDateAndTime)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ArrivalDateAndTime)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Capacity)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Airline)</td>
                    <td>@Html.DisplayFor(modelItem => item.FlightFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.FlightTo)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureDateAndTime, "{0:g}")</td> <!-- General date-time format -->
                    <td>@Html.DisplayFor(modelItem => item.ArrivalDateAndTime, "{0:g}")</td>
                    <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price, "{0:C}")</td> <!-- Currency format -->
                    <td>
                        <a asp-action="Details" asp-route-id="@item.FlightId" class="btn btn-outline-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.FlightId" class="btn btn-outline-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.FlightId" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Book" asp-route-id="@item.FlightId" class="btn btn-outline-warning">Book</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
